body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.weather-card {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  text-align: center;
  width: 260px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-bottom: 12px;
}

button:hover {
  opacity: 0.8;
  color: white;
}

#temp {
  font-size: 48px;
  margin: 10px;
}

.details {
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

